:host {
    height: 100vh;
    background: url('/assets/images/bg/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    grid-template-rows: 60px 10fr 60px;
    grid-template-areas:
      ". . logo ."
      ". main-left navigation ."
      ". . . .";
  }

  @media only screen and (max-width: 1200px) {
    :host {
        grid-template-columns: 1fr 8fr 2fr 1fr;
        grid-template-areas:
        ". navigation logo ."
        ". main-left main-left ."
        ". . . .";
    }
  }
