@import 'colors';

:host {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;

  a:visited,
  a:link {
    font-size: 3.2rem;
    color: $text-white;
    text-decoration: none;
    outline: none;
  }
}
