:host {
  grid-area: main-left;

  img {
    width: 100%;
  }

  h2 {
    line-height: 70px;
    color: #fff;
    font-size: 3.2rem;
  }

  p {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;
  }
}

// @media only screen and (max-width: 800px) {
//   :host {
//     p {
//       font-size: 2.1rem;
//     }
//   }
// }

// @media only screen and (max-width: 450px) {
//   :host {
//     h2 {
//       font-size: 4rem;
//     }
//     p {
//       font-size: 2.2rem;
//     }
//   }
// }
