<img src="/assets/images/people/frieze.jpeg" alt="Who are we?" size="75%">
<h2>Whats is this abo'ot?</h2>
<p>Bacon ipsum dolor amet tongue tri-tip doner jerky. Fatback meatloaf hamburger, strip steak biltong short ribs
  spare ribs landjaeger doner tenderloin bacon pancetta cupim tail. Bresaola pork chop jowl beef ribs, cupim ribeye
  swine turducken pork belly alcatra drumstick venison. Turducken pork chop meatball burgdoggen shank shankle ground
  round short ribs kielbasa shoulder hamburger short loin rump pork belly.</p>
<p> Pork loin turkey sirloin t-bone
  bresaola, kielbasa tri-tip. Cow ham hock ribeye shankle boudin, turducken beef ribs sirloin jowl. Ham hock prosciutto
  jowl tongue pig corned beef. Capicola brisket picanha burgdoggen beef. Chuck turkey ball tip venison pork belly. Tail
  kevin venison chuck, beef turkey porchetta pork belly cupim short ribs. T-bone turducken tongue venison jerky short
  ribs chicken boudin kevin andouille swine. </p>
<p>Turkey salami beef ribs pastrami. Shankle tenderloin prosciutto
  boudin. Strip steak alcatra rump landjaeger chicken buffalo short loin cupim frankfurter meatball. Cow pastrami short
  ribs cupim sirloin, bacon beef flank jerky turducken boudin.</p>
<p>Ivo & Stefan</p>