:host {
  grid-area: main-left;
  img {
    width: 100%;
  }

  h2 {
    line-height: 70px;
    color: #fff;
    font-size: 3.2rem;
  }

  p {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;
  }
}
