@import "colors";
@import "mixins";

:host {
  grid-area: main-left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  article {
    background-color: #ffffff;
    box-shadow: 0 0 1px 2px $bg-grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    &:hover {
      cursor: pointer;
    }
    .suph {
      width: 95%;
      margin: auto;
    }
    .title {
      color: #444444;
      font-size: 2rem;
      width: 95%;
      margin: auto;
    }
    .preview {
      width: 95%;
      margin: auto;
    }
    .footer {
      width: 95%;
      margin: auto;
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        margin-right: 10px;
        height: 40px;
        width: 40px;
      }
      span {
        color: $text-grey;
      }
    }
  }
  .img-1 {
    height: 150px;
    background: url("/assets/images/blog/annie-spratt-51434-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  .img-2 {
    height: 150px;
    background: url("/assets/images/blog/jay-ruzesky-84387-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  .img-3 {
    height: 150px;
    background: url("/assets/images/blog/lukas-budimaier-83358-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  .img-4 {
    height: 150px;
    background: url("/assets/images/blog/matthew-henry-58760-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  .img-5 {
    height: 150px;
    background: url("/assets/images/blog/roberto-nickson-48063-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
  .img-6 {
    height: 150px;
    background: url("/assets/images/blog/steve-carter-68574-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 1200px) {
  :host {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    article {
      max-height: 250px;
    }
    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6 {
      height: 150px;
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    article {
      .footer {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6 {
      height: 100px;
    }
  }
}
