<article>
  <img src="https://picsum.photos/400/200?image=100" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=102" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <img src="https://picsum.photos/400/200?image=402" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=132" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <img src="https://picsum.photos/400/200?image=1001" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=625" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <img src="https://picsum.photos/400/200?image=431" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=964" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <img src="https://picsum.photos/400/200?image=367" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=915" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <img src="https://picsum.photos/400/200?image=320" alt="blog pic">
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="https://picsum.photos/40?image=667" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
