<article>
  <div class="img-1"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/annie-spratt-51434-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
  <div class="share"></div>
</article>
<article>
  <div class="img-2"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/jay-ruzesky-84387-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <div class="img-3"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/lukas-budimaier-83358-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <div class="img-4"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/matthew-henry-58760-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <div class="img-5"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/roberto-nickson-48063-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
<article>
  <div class="img-6"></div>
  <p class="suph">People Updates <span class="date">17th November</span></p>
  <h2 class="title">Ivo Baramov Update - Sucking That Dee</h2>
  <p class="preview">Lorem ipsum dolor sit amet mucho gusto penis penis, consectetur adipisicing elit. Ducimus harum...</p>
  <div class="footer">
    <img src="/assets/images/blog/steve-carter-68574-unsplash.jpg" alt="footer-img" class="footer-img">
    <p class="footer-authro">By <span>Ivo Baramov</span></p>
  </div>
</article>
