@import "colors";
@import "mixins";

:host {
  grid-area: navigation;
  justify-self: center;
  margin-top: 5rem;
  padding: 0 5rem;

  .page-slider {
    display: flex;
    align-items: center;

    .arrow-left {
      background: url("/assets/images/icons/angle-pointing-to-left.svg");
      background-size: contain;
      background-position: center;
      height: 4rem;
      width: 4rem;
    }

    .arrow-right {
      background: url("/assets/images/icons/angle-arrow-pointing-to-right.svg");
      background-size: contain;
      background-position: center;
      height: 4rem;
      width: 4rem;
    }

    span {
      display: block;
      font-size: 3.2rem;
      margin: 0 4rem;
      color: $text-white;
      width: 19.5rem;
      text-align: center;
    }
  }

  .people-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-grey;
    margin-top: 1.5rem;

    .name {
      font-size: 2.4rem;
      text-transform: uppercase;
      position: relative;
      outline: none;
      width: 100%;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .left-link,
  .right-link {
    outline: none;
  }
}

a:link,
a:visited,
a:focus {
  outline: none;
}

div:link,
div:visited,
div:focus {
  outline: none;
}

.selected::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1600px) {
  :host {
    .page-slider {
      span {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  :host {
    justify-self: start;
    align-self: center;
    margin-top: 0;
    padding: 0;
    .people-list {
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    .page-slider {
      span {
        margin: 0;
      }
    }
  }
}
