<div class="page-slider">
    <a (click)="moveLeft()" [routerLink]="[pageCarousel[0]]" class="left-link">
        <div class="arrow-left"></div>
    </a>
    <span>{{pageCarousel[1]}}</span>
    <a (click)="moveRight()" [routerLink]="[pageCarousel[2]]" class="right-link">
        <div class="arrow-right"></div>
    </a>
</div>
<div *ngIf="pageCarousel[1]==='people'" class="people-list">
    <span class="name" [routerLink]="['profile','1']">ivo</span>
    <span class="name" [routerLink]="['profile','2']">penka</span>
    <span class="name" [routerLink]="['profile','3']">mara</span>
    <span class="name" [routerLink]="['profile','4']">john</span>
    <span class="name" [routerLink]="['profile','5']">mike</span>
    <span class="name" [routerLink]="['profile','6']">siika</span>
</div>