<div class="page-slider">
    <a (click)="moveLeft()" [routerLink]="[pageCarousel[0]]">
        <div class="arrow-left"></div>
    </a>
    <span>{{pageCarousel[1]}}</span>
    <a (click)="moveRight()" [routerLink]="[pageCarousel[2]]">
        <div class="arrow-right"></div>
    </a>
</div>
<div *ngIf="pageCarousel[1]==='people'" class="people-list">
    <span class="name">teo</span>
    <span class="name">ivo</span>
    <span class="name">maria</span>
    <span class="name">stefan</span>
    <span class="name">sebastian</span>
    <span class="name">filipa</span>
</div>