<div class="page-slider">
    <a (click)="moveLeft()" [routerLink]="[pageCarousel[0]]" class="left-link">
        <div class="arrow-left"></div>
    </a>
    <span>{{pageCarousel[1]}}</span>
    <a (click)="moveRight()" [routerLink]="[pageCarousel[2]]" class="right-link">
        <div class="arrow-right"></div>
    </a>
</div>
<div *ngIf="pageCarousel[1]==='people'" class="people-list">
    <span class="name" (click)="selectPerson(1)" [routerLink]="['profile','1']" routerLinkActive="selected">ivo</span>
    <span class="name" (click)="selectPerson(2)" [routerLink]="['profile','2']" routerLinkActive="selected">penka</span>
    <span class="name" (click)="selectPerson(3)" [routerLink]="['profile','3']" routerLinkActive="selected">mara</span>
    <span class="name" (click)="selectPerson(4)" [routerLink]="['profile','4']" routerLinkActive="selected">john</span>
    <span class="name" (click)="selectPerson(5)" [routerLink]="['profile','5']" routerLinkActive="selected">mike</span>
    <span class="name" (click)="selectPerson(6)" [routerLink]="['profile','6']" routerLinkActive="selected">siika</span>
</div>